*{
    box-sizing: border-box;
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    margin: 0;
}

.container{
    background-color: #2E0249;
    padding-bottom: 64px;
}

.showcase{
    color: #fff;
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;;
}

header h1{
    line-height: normal;
    padding: 0;
}

header a{
    color: #fff;
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 16px;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

nav a:hover{
    color: #2E0249;
    background-color: #fff;
}

ul li{
    list-style: none;
}

.btn{
    text-decoration: none;
    background-color: #F806CC;
    color: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    font-weight: 700;
}

.btn:hover{
    background-color: #fff;
    color: #570A57;
    border: solid 1px #570A57;
}

/* intro section styles */
.intro{
    display: flex;
}

.statement{
    flex: 1;
    width: 600px;
    padding-right: 48px;
}

.statement h1{
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
}

.statement p{
    margin-bottom: 32px;
}
.intro img{
    width: 500px;
    height: auto;
}

/* categories styling */
#categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

#categories h2{
    font-size: 32px;
    color: #570A57;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box p{
    max-width: 300px;
}

.catimg{
    width: 300px;
    height: 400px;
}

.catimg img{
    height: 100%;
    width: auto;
    border-radius: 10px;
}

/* testimonial styling */
#testimonial{
    background-color: #764AF1;
}

.message{
    padding-top: 32px;
    margin: auto;
    height: 400px;
    width: 70%;
}

.message .quote{
    font-size: 32px;
    font-style: italic;
}
.name{
    width: 70%;
    margin: auto;
    text-align: right;
    margin-top: 0;
    font-size: 32px;
    font-weight: 800;
}

/* call to action styling */
.signup{
    background-color: #fff;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer{
    color:#fff;
    width:70%;
    height: 200px;
    background-color: #293462;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.order{
    display: flex;
    align-items: center;
}

/* footer styling */
footer{
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E0249;
}
